.btn-request {
    background: rgb(255,0,191);
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    width: 90%;
}

.dropup
{
    transform: translateY(-130px);
}
a {
    color: #6f8496;
    text-decoration: none;
    background-color: #667e7e;
    border-bottom: 1px solid red;
    
}
a:hover
{
    color: #2c3b3b;
}